body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  .App {
    padding: 25px;
    
  }
  
  nav {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 30px;
    justify-content: space-between;
  }
  
  nav input[type="text"] {
    padding: 6px 12px;
    font-size: 16px;
    width: 80%;
    max-width: 400px;
  }
  
  .books-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
  }
  
  .book-item {
    cursor: pointer;
    text-align: center;
  }
  
  .book-item img {
    width: 128px;
    height: 192px;
    object-fit: cover;
  }
  
  .book-item h3 {
    margin: 10px 0;
  }
  
  .book-detail {
    text-align: center;
  }
  
  .book-detail img {
    width: 256px;
    height: 384px;
    object-fit: cover;
  }
  
  .book-detail h2 {
    margin: 10px 0;
  }
  
  .book-detail p {
    margin: 5px 0;
  }
  
  .book-detail a {
    display: block;
    margin: 10px 0;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .book-detail a:hover {
    background-color: #0056b3;
  }
.left{
    display: flex;
    gap: 10px;
}
.right{
    display: flex;
    gap: 10px;
}  